@import './utils/variables.scss';
@import './fron-page/main.scss';
@import './articles/main.scss';
@import './post/main.scss';
@import './header/header.scss';

@import '../libs/prismjs/prism.scss';

.disable-select {
  user-select: none;
}

::selection {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Roboto", serif;

}

a {
  color: var(--accent-color);
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.main {
  background: var(--bg-color);
  min-height: fit-content;
  padding: 0 10px;
}

.icons {
  margin: 0 auto;
  text-align: center;
}

.icons a {
  display: inline-block;
  margin: 0 5px;
  font-size: 26px;
  color: white;
  transition: all 0.3s;
}

.icons a:hover {
  color: var(--accent-color);
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px) scale(1.3);

}


blockquote {
  margin: 20px 0;
  padding: 20px 40px;
  color: var(--text-color);
  font-style: italic;
  font-family: 'Pacifico', cursive;
  border-left: 1px solid var(--accent-color);
}

blockquote span {
  display: block;
  position: relative;
  text-align: end;
  width: fit-content;
  margin-left: auto;
}

blockquote span::before {
  content: "©";
  position: absolute;
  left: -20px;
}

footer {
  color: white;
  padding: 20px;
}

.menu-a {
  overflow: hidden;
  display: block;
  height: 25px;
}

.menu-a span {
  display: block;
  transition: all 0.5s;
}

.menu-a {
  &:hover {
    span {
      transform: translateY(-100%);
    }
  }
}

.theme-changer {
  font-size: 35px;
  color: var(--accent-color);
  cursor: pointer;
}