.first-screen {
  position: relative;
  height: calc(100vh - 87px - 74px);
  overflow: hidden;
}

.first-screen::before {
  content: '';
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: url('../img/me.jpg') no-repeat;
  background-size: contain;
}

.first-screen .container {
  max-width: 1200px;
  margin: 0 auto;
  user-select: none;
}

.dmytro {
  opacity: 0;
  margin: 0 auto;
  color: var(--accent-color);
  font-size: 17rem;
  text-align: left;
  position: relative;
  padding-left: 4rem;
}

.d {
  transition: all 0.8s ease;
}

.enthusiast {
  color: rgb(181, 247, 0);
  font-size: 7rem;
  position: absolute;
  top: 18%;
  right: 0;
  transform: scale(0, 1);
}
