:root {
  --bg-color: #282c35;
  --accent-color: #ffc0cb;
  --text-color: #e5e5e6;
  --menu-color: white;

  --blockquote-border-color: #97a9f1;
  --blockquote-text-color: #97a9f1;
  --blockquote-bg-color: #212529;

  --border-color: #4b5056;
  --h2-header-color: #f1f3f5;
}