.post-page {
  font-size: 18px;
  color: #e5e5e6;
  line-height: 1.7;
    h1 {
      font-size: 40px;
      font-weight: 700;
      font-style: italic;
      color: var(--accent-color);
      margin-bottom: 0;
    }
    p {
      margin-bottom: 25px;
    }
}
