.post-page {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.7;
    h1 {
      font-size: 40px;
      font-weight: 700;
      font-style: italic;
      color: var(--accent-color);
    }

    h2 {
      color: var(--h2-header-color);
      border-bottom: 1px solid var(--border-color);
      font-size: 1.9rem;
      font-weight: 700;
      letter-spacing: -.03rem;
      margin: 0 0 1rem;
      padding-bottom: 0.3rem;
    }

    p {
      margin-bottom: 25px;
    }
}
